<!-- <!DOCTYPE html>
<html lang="en">

<head>

    <title>
        <%=title%>
    </title>
</head>

<body>
    <%- include("_header") %> -->
<link rel="stylesheet" href="/css/user_profile.css">
<h1>codial / profile page / <%=title%></h1>
<p><%=profile_user.name%></p>
<p><%=profile_user.email%></p>
<!-- <%- include("_footer") %>
</body>

</html> -->